streamlit==1.37.0

# Transformers lightweight (pas besoin de tokenizers)
transformers==4.44.2

# Plus besoin de tokenizers ni sentencepiece
# torch CPU
torch==2.5.1

numpy
pandas
scikit-learn

# Forcer versions compatibles Streamlit
rich==13.9.4
markdown-it-py==3.0.0
mdurl==0.1.2


# Empêcher le re-upgrade automatique de rich
# (Streamlit Cloud installe rich mais respecte les pins si on freeze toutes les libs qui en dépendent)
pygments==2.15.1
